@{
    Layout = "";
    Html.AddCssFileParts(true, Url.Content("~/Plugins/EARGE.iyzico/Content/smartstore.paypal.css"));
}
@model EARGE.iyzico.Models.iyzicoExpressPaymentInfoModel
@using EARGE.Web.Framework;

@if (Model.CurrentPageIsBasket)
{
    <div id="paypal-checkout">
        <div class="selection-text">
            @T("Plugins.Payments.iyzicoExpress.SelectionText")
        </div>

        <div class="form-horizontal">
            <a href='@Url.Action("SubmitButton", "iyzicoExpress", new { area = "EARGE.iyzico" })'>
                <img id="paypal-express-button" alt="" src="@Model.SubmitButtonImageUrl" />
            </a>

        </div>
    </div>
}